API_KEY=replace-with-1c-api-key
UN_ID=un-test-windows-01
HOST=0.0.0.0
PORT=33001
DATA_DIR=./data
MAX_PARALLEL_JOBS=3
DEFAULT_JOB_TIMEOUT_MS=300000
RETRY_MAX_ATTEMPTS=2
RETRY_BACKOFF_MS=1000
WEB_LOGIN=demo
WEB_PASSWORD=replace-with-strong-password
WEB_SESSION_TTL_HOURS=12
WEB_COOKIE_SECURE=false
BROWSER_HEADLESS=false
BROWSER_PRODUCT=yandex
BROWSER_STEP_DELAY_MS=250
BROWSER_HOLD_OPEN_MS=3000
BROWSER_CAPTCHA_WAIT_MS=120000
BROWSER_WINDOW_WIDTH=1400
BROWSER_WINDOW_HEIGHT=860
NOVNC_ENABLED=false
FILESYSTEM_ALLOWED_ROOTS=./work;./data
CALLBACK_AUTH_TOKEN=replace-with-callback-token
CALLBACK_ALLOWED_ORIGINS=http://1c-test.local:8080
