API_KEY=dev-secret
UN_ID=un-demo-01
WEB_LOGIN=admin
WEB_PASSWORD=change-this-password
WEB_SESSION_TTL_HOURS=12
WEB_COOKIE_SECURE=false
DEMO_MAIL_LOGIN=demo.user
DEMO_MAIL_PASSWORD=demo-password
YAHOO_MAIL_URL=https://login.yahoo.com/?src=ym&activity=header-signin
YAHOO_MAIL_LOGIN=seeergo@yahoo.com
YAHOO_MAIL_PASSWORD=
YAHOO_MAIL_RECIPIENT=10sydneyfc@gmail.com
BROWSER_HEADLESS=false
BROWSER_STEP_DELAY_MS=350
BROWSER_HOLD_OPEN_MS=5000
BROWSER_CAPTCHA_WAIT_MS=120000
BROWSER_WINDOW_WIDTH=1400
BROWSER_WINDOW_HEIGHT=860
NOVNC_ENABLED=true
NOVNC_BIND_HOST=127.0.0.1
NOVNC_PORT=33303
NOVNC_DISPLAY=:99
NOVNC_GEOMETRY=1440x900x24
# NOVNC_PASSWORD=change-this-vnc-password
# NOVNC_PUBLIC_URL=https://example.org/browser/
# PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
# SERVICE_BASE_URL=http://127.0.0.1:3000
