API_KEY="{{ script_factory_api_key }}"
UN_ID="{{ script_factory_un_id }}"
HOST=0.0.0.0
PORT={{ script_factory_port }}
DATA_DIR="{{ script_factory_data_dir }}"
MAX_PARALLEL_JOBS={{ script_factory_max_parallel_jobs }}
DEFAULT_JOB_TIMEOUT_MS={{ script_factory_default_job_timeout_ms }}
RETRY_MAX_ATTEMPTS={{ script_factory_retry_max_attempts }}
RETRY_BACKOFF_MS={{ script_factory_retry_backoff_ms }}
WEB_LOGIN="{{ script_factory_web_login }}"
WEB_PASSWORD="{{ script_factory_web_password }}"
WEB_SESSION_TTL_HOURS=12
WEB_COOKIE_SECURE=false
BROWSER_HEADLESS={{ script_factory_browser_headless | ternary('true', 'false') }}
BROWSER_PRODUCT=yandex
PUPPETEER_EXECUTABLE_PATH="{{ script_factory_browser_path }}"
BROWSER_STEP_DELAY_MS={{ script_factory_browser_step_delay_ms }}
BROWSER_HOLD_OPEN_MS={{ script_factory_browser_hold_open_ms }}
BROWSER_CAPTCHA_WAIT_MS={{ script_factory_browser_captcha_wait_ms }}
BROWSER_WINDOW_WIDTH={{ script_factory_browser_window_width }}
BROWSER_WINDOW_HEIGHT={{ script_factory_browser_window_height }}
NOVNC_ENABLED=false
FILESYSTEM_ALLOWED_ROOTS="{{ script_factory_allowed_roots | join(';') }}"
CALLBACK_AUTH_TOKEN="{{ script_factory_callback_auth_token }}"
CALLBACK_ALLOWED_ORIGINS="{{ script_factory_callback_allowed_origins | join(',') }}"
